.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #fff;
  }

  .login > img {
    width: 400px;
    height: auto;
    border-radius: 15px;
  }

  .login > h1 {
    font-family: 'Monoton';
    font-size: 50px;
  }

  .login > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  
  .login > a {
    padding-top: 10px;
    border-radius: 15px;
    font-weight: 600;
    width: 200px ;
    height: 44px;
    color: white;
    text-decoration: none;
    background-color: #ff713e;
    font-family: 'Roboto', sans-serif;
  }